<h1>Orders</h1>

<ul>
    <% @orders.each do |order| %>
        <li>
            <%= link_to order.product_name, order_path(order) %>
            <%= link_to 'Edit', edit_order_path(order) %>
            <%= link_to 'Delete', order_path(order), method: :delete %>
        </li>
    <% end %>
</ul>

<%= link_to "Make a new order", new_order_path %>
<br>
<%= link_to "Go Back Home", customers_path %>
